* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(../assets/redredred.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 133vh;
}

header {
  height: 122px;
  display: flex;
  padding-inline: 72px;
  align-items: center;
  gap: 32px;
}

ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
/* O CSS que começa no header e vai até o main só está funcionando separadamente, não sei o motivo. */
ul a {
  text-decoration: none;
  font-size: 22px;
  color: #c9b07f;
}

.ativa a {
  font-weight: bold;
  color: #f9d68e;
}

main {
  width: fit-content;
  margin-inline: auto;
  margin-top: 30px;
}

h1 {
  color: #f9d68e;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.nomes {
  color: #f9d68e;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
}

a {
  color: #c9b07f;
  display: block;
  margin-inline: auto;
  width: fit-content;
  text-decoration: none;
  font-weight: 700px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.atores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.atores img {
  width: 20%;
  height: auto;
  margin-top: 50px;
  filter: drop-shadow(4px 4px 4px #000000);
}

p {
  color: #edd7b4;
  text-align: left;
  font-size: 17px;
  margin-top: 20px;
  padding-left: 30px;
  max-width: 500px;
}

#troy {
  color: #f9d68e;
  padding-left: 130px;
  font-family: "Montserrat", sans-serif;
}

#gabriella {
  color: #f9d68e;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#sharpay {
  color: #f9d68e;
  padding-left: 1650px;
  font-family: "Montserrat", sans-serif;
}
