* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bebas-neue", sans-serif;
}
body {
  background-image: url(../assets/redcarpet.jpg);
  background-position: 10% center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

h2 {
  color: #f9d68e;
  text-align: left;
  font-size: 30px;
  margin-top: 250px;
  padding-left: 230px;
}

p {
  color: #f9d68e;
  text-align: left;
  font-size: 17px;
  margin-top: 20px;
  padding-left: 30px;
  max-width: 648px;
}
